@import 'variables';

$buttons-color: (
  primary: $white,
  secondary: $dark,
  light: $dark,
);

$buttons-background: (
  primary: $primary,
  secondary: $secondary,
  light: $light
);

$buttons-border: (
  primary: $primary,
  secondary: $secondary,
  light: $light
);

$buttons-hover-background: (
  primary: darken($primary, 4%),
  secondary: darken($secondary, 4%),
  light: darken($light, 4%)
);

$buttons-hover-border: (
  primary: darken($primary, 4%),
  secondary: darken($secondary, 4%),
  light: darken($light, 4%)
);

$buttons-active-background: (
  primary: darken($primary, 8%),
  secondary: darken($secondary, 8%),
  light: darken($light, 8%)
);

$buttons-active-border: (
  primary: darken($primary, 8%),
  secondary: darken($secondary, 8%),
  light: darken($light, 8%)
);

$buttons-padding-x: (
  sm: $btn-padding-x-sm,
  md: $btn-padding-x,
  lg: $btn-padding-x-lg
);

$buttons-padding-y: (
  sm: $btn-padding-y-sm,
  md: $btn-padding-y,
  lg: $btn-padding-y-lg
);

$buttons-font-size: (
  sm: $btn-font-size-sm,
  md: $btn-font-size,
  lg: $btn-font-size-lg
);

$buttons-font-weight: (
  sm: $btn-font-weight-sm,
  md: $btn-font-weight,
  lg: $btn-font-weight-lg
);

$buttons-line-height: (
  sm: $btn-line-height-sm,
  md: $btn-line-height,
  lg: $btn-line-height-lg
);

$buttons-border-width: (
  sm: $btn-border-width-sm,
  md: $btn-border-width,
  lg: $btn-border-width-lg
);

$buttons-border-radius: (
  sm: $btn-border-radius-sm,
  md: $btn-border-radius,
  lg: $btn-border-radius-lg
);
