@import '@/styles/functions';
@import '@/styles/variables';
@import '@/styles/mixins';

@keyframes contactsFormFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 4rem;
  max-width: 100%;
  margin: auto;
}

.description {
  width: 36rem;
  max-width: 100%;
  font-size: $font-size-lg;
  text-align: center;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  column-gap: 2rem;
  width: 32rem;
  max-width: 100%;
}

.infoBlock {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: underline;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    color: $primary;
    transition: all 0.2s ease-out;
  }

  &:hover .icon {
    transform: translateY(-0.25rem);
  }

  .label {
    margin: 0.5rem 0 0;
  }
}

.feedback {
  width: 36rem;
  max-width: 100%;
  position: relative;
}

.form {
  position: relative;
  z-index: 0;

  &Hidden {
    animation: contactsFormFadeOut 0.5s linear;
    animation-fill-mode: both;
  }
}

.success {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
