@import '@/styles/variables.scss';

.wrapper {
  display: flex;
  flex-flow: column;
}

.list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin: 0;
  padding: 0;
}

.link {
  $highlight-color: rgba(232, 51, 213, 0.5);
  $animation-duration: 0.25s;
  $animation-function: 0.25s;

  display: block;
  padding: 0.25rem 0.5rem;
  position: relative;
  font-weight: $font-weight-bold;

  &:before {
    content: '';
    display: none;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    background-color: $highlight-color;
    border-radius: 0.25rem;
    transform: translate3d(-50%, 0 0);
    transition: width $animation-duration $animation-function, left $animation-duration $animation-function;
  }

  &:hover {
    &:before {
      display: block;
    }
  }

  &.linkActive {
    &:before {
      display: block;
      width: 100%;
      left: 0;
    }
  }
}
