@import '@/styles/mixins';

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.formField {
  @include form-field();
}

.formLabel {
  @include form-label();
}

.formControl {
  @include form-control(primary, lg);
  max-width: 100%;
}

.submitBtn {
  @include button(primary, lg);
}

.wide {
  grid-column: 1 / 3;
}

.footer {
  grid-column: 1 / 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
