@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin base-button($size: md, $rect: false) {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: map-get($buttons-font-weight, $size);
  color: $body-color;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: map-get($buttons-border-width, $size) solid transparent;
  border-radius: map-get($buttons-border-radius, $size);

  @include button-size(
    map-get($buttons-padding-y, $size),
    if($rect == true, map-get($buttons-padding-y, $size), map-get($buttons-padding-x, $size)),
    map-get($buttons-font-size, $size),
    map-get($buttons-line-height, $size),
    map-get($buttons-border-radius, $size)
  );

  &:hover() {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
  }
}

@mixin button-variant(
  $color,
  $background,
  $border,
  $hover-background,
  $hover-border,
  $active-background,
  $active-border
) {
  color: $color;
  background-color: $background;
  border-color: $border;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover,
  &:focus,
  &.focus {
    color: $color;
    background-color: $hover-background;
    border-color: $hover-border;
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: $background;
    border-color: $border;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }
}

@mixin button-outline-variant(
  $color,
  $hover-border: darken($color, 4%),
  $active-border: darken($color, 8%),
) {
  color: $color;
  background-color: transparent;
  border-color: $color;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover,
  &:focus,
  &.focus {
    color: $color;
    background-color: rgba($color, 0.1);
    border-color: $hover-border;
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
    border-color: $color;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $color;
    background-color: rgba($color, 0.2);
    border-color: $active-border;
  }
}

@mixin button($name: secondary, $size: md, $rect: false) {
  @include base-button($size, $rect);

  @include button-variant(
    map-get($buttons-color, $name),
    map-get($buttons-background, $name),
    map-get($buttons-border, $name),
    map-get($buttons-hover-background, $name),
    map-get($buttons-hover-border, $name),
    map-get($buttons-active-background, $name),
    map-get($buttons-active-border, $name)
  );
}

@mixin button-outline($name: secondary, $size: md, $rect: false) {
  @include base-button($size, $rect);

  @include button-outline-variant(
    map-get($buttons-background, $name),
  );
}
